@charset "UTF-8";
/* CSS Document */

footer {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

/* colors */
.blueBG {
	background-color: #0099ff;
}

.white {
	color: rgba(255,255,255,1.00);
}

/* height */
.height70percent {
	height: 70vh;
}
.height30percent {
	height: 30vh;
}

/* width */
.width100percent {
	width: 100vw;
}

/* margin */
.marginTop2em {
	margin-top: 2em;
}

.noMargin {
	margin: 0;
}

/* img */
.coverImage {
	position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.coverImage1 {
	background: url(../img/shutterstock1.jpg) no-repeat center center fixed; 
}
.coverImage2 {
	background: url(../img/shutterstock2.jpg) no-repeat center center; 
}

/* gradients */
.coverGradient {
	position: absolute;
	bottom: 0;
	width: 100%;
	
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+65 */

background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%); /* FF3.6-15 */

background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 65%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */

background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 65%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */


}

/* overriding Bootstrap defaults */

.navbar-brand {
	min-height: 65px;
}
